{{doAction('before-article')}}
{% block article %}
    <article>
        {% set class = 'bg-dark text-center' %}
        <div id="section-heading" class="page-section {{class}}">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-white">What is FloatPHP?</h1>
                        <hr class="divider divider-light">
                        <div class="text-white-75 fs-5 mb-4">
                            <p>Lightweight PHP Framework designed with a clean OOP around the MVC pattern. Perfect for developing high-performance web applications tailored for small to medium projects.</p>
                        </div>
                        <span data-target="https://github.com/floatphp/Skeleton" class="btn btn-light btn-xl">
                            Read more
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
{{doAction('after-article')}}
