{% block end %}

    {% block script %}

        {% block vendor %}
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/gh/Jakiboy/Vanille@0.0.3/dist/VanillePlugin.min.js"></script>
            {{doAction('js')}}
        {% endblock %}

        {% block config %}
            <script>
                var globalVars = {
                    baseUrl: '{{baseUrl}}',
                    assetUrl: '{{getAssetUrl()}}',
                    lang: "{{getLanguage()}}",
                    token: "{{getToken()}}",
                    debug: "{{isDebug()}}",
                    timeout: {{getTimeout()}},
                    website: {{toJson(data.website)|raw}},
                    modules: {{toJson(data.modules)|raw}},
                    linking: {{toJson(data.linking)|raw}},
                    strings: {{toJson(data.strings)|raw}}
                };
                {{doAction('config-js')}}
            </script>
        {% endblock %}

        {% block main %}
            <script src="{{getAssetUrl()}}/front/js/main.js" defer></script>
            {{doAction('main-js')}}
        {% endblock %}

    {% endblock %}

    {{doAction('body')}}
    
    {% block close %}
        </body>
        </html>
    {% endblock %}

{% endblock %}