{{doAction('before-footer')}}
{% block footer %}
	<footer class="py-5">
		<div class="container px-4 px-lg-5">
			<div class="small text-center text-muted">
				<span data-target="up">
					<i class="bi-phone fs-2 mb-3 text-muted"></i>
				</span>
				<p><strong>FloatPHP</strong> | The Floating PHP Framework</p>
				<p><small>Developed from scratch, Inspired from industry-leading technologies such as:<br> Zend, Symfony, Laravel, WordPress, Prestashop and Drupal.</small></p>
				{{doAction('footer')}}
			</div>
		</div>
	</footer>
{% endblock %}
{{doAction('after-footer')}}