{{doAction('before-header')}}
{% block header %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <span class="h1 text-white font-weight-bold">It works!</span>
                    <hr class="divider">
                </div>
                <div class="col-lg-8 align-self-baseline text-white-75">
                    <p class="mb-3">FloatPHP | The Floating PHP Framework</p>
                    {% if data.header.text %}
                        {{data.header.text|raw}}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{{doAction('after-header')}}