{% block affiliate %}
	{% if status %}
		<div class="--afiliate --no-select --no-drag container">
			{% for item in affiliate %}
				<div class="row --item-card">
					<div class="col-md-3 --block --image-block">
						<img src="{{item.image}}" alt="{{translate('Product')}}" width="200" height="200">
					</div>
					<div class="col-md-6 --block --text-block">
						<p>{{item.title}}</p>
					</div>
					<div class="col-md-3 --block --action-block">
						<p class="--price">
							<strong>{{item.price}}</strong>
							<small>EUR</small>
						</p>
						<a href="{{item.url}}" class="btn btn-primary" rel="nofollow noopener sponsored" target="_blank">
							{{translate('See product')}}
						</a>
						<span class="--desc">#Amazon #{{translate('Sponsored')}}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
