{% extends 'system/inc/content.tpl.html' %}
{% block content %}
	<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
		<div class="container">
			<div class="row justify-content-center align-items-center gap-1">
				<div class="col-12 text-center">
					<img src="{{getAssetUrl()}}/front/img/default.svg" class="img-fluid rounded mb-3" height="auto" width="256" alt="page">
					<h1 class="display-3 m-2">{{code}}</h1>
					<p class="m-0">{{translate('Oh! You are lost')}}</p>
					<a href="/">{{translate('Back to home page')}}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
