{% block end %}

    {% block script %}

        {% block vendor %}
            <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/js/coreui.bundle.min.js"></script>
            {{doAction('js')}}
        {% endblock %}

        {% block config %}
            <script>
                var globalVars = {
                    baseUrl: '{{baseUrl}}',
                    assetUrl: '{{getAssetUrl()}}',
                    lang: "{{getLanguage()}}",
                    timeout: {{getTimeout()}},
                    token: "{{getToken()}}"
                };
                {{doAction('config-js')}}
            </script>
        {% endblock %}

        {% block main %}
            {{doAction('main-js')}}
        {% endblock %}

    {% endblock %}

    {{doAction('body')}}
    
    {% block close %}
        </body>
        </html>
    {% endblock %}

{% endblock %}
