{% block end %}

    {% block script %}

        {% block vendor %}
            {% if isDebug() %}
            {% else %}
            {% endif %}
            <script src="{{getAssetUrl()}}/admin/vendor/@coreui/coreui/js/coreui.bundle.min.js"></script>
            {{doAction('js')}}
        {% endblock %}

        {% block config %}
            <script>
                var globalVars = {
                    baseUrl: '{{baseUrl}}',
                    assetUrl: '{{getAssetUrl()}}',
                    lang: "{{getLanguage()}}",
                    timeout: {{getTimeout()}},
                    token: "{{getToken()}}"
                };
                {{doAction('config-js')}}
            </script>
        {% endblock %}

        {% block main %}
            {% set ext = 'min.js' %}
            {% if isDebug() %}
                {% set ext = 'js' %}
            {% endif %}
            {{doAction('main-js')}}
        {% endblock %}

    {% endblock %}

    {{doAction('body')}}
    
    {% block close %}
        </body>
        </html>
    {% endblock %}

{% endblock %}
