:root {
    --quote-color: #9b4d7d;
    --quote-color-secondary: #89426e;
}

.--quote>* {
    font-family: var(--bs-body-font-family) !important;
}

.--quote #vud_devis_header {
    padding: 20px !important;
}

.--quote #vud_devis_header strong {
    color: var(--quote-color-secondary) !important;
}

.--quote #vud_signature,
.--quote #vud_explication,
.--quote .vud_v12,
.--quote form table tr td br,
.--quote #vud_mb_js_box .vud_reinitialise img.v16_force {
    display: none !important;
}

.--quote .vud_illustration {
    box-shadow: none !important;
}

.--quote #devistap_progression_barre {
    background: var(--quote-color-secondary) !important;
    border: 0 !important;
    height: 3px !important;
    top: 0 !important;
    bottom: 0 !important;
    max-width: 100% !important;
}

.--quote #devistap_progression {
    height: 3px !important;
    border-radius: 10px !important;
    background: #e7e7e7 !important;
    margin: 30px 5px 30px 5px !important;
}

@media (min-width: 992px) {
    .--quote #devistap_progression {
        margin: 30px auto !important;
        max-width: 480px !important;
    }
}

.--quote .devistap_progression_point {
    top: -16px !important;
    background: #ffffff !important;
    border: 2px solid #d9d9d9 !important;
    color: #d9d9d9 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    height: 35px !important;
    width: 35px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px !important;
}

.--quote #devistap_progression .devistap_progression_point_rouge {
    border: 3px solid #212529 !important;
    background: var(--quote-color) !important;
    color: #fff !important;
}

.--quote form h2 {
    color: #212529 !important;
    font-size: 18px !important;
    margin: 0 !important;
}

.--quote form {
    padding: 0 !important;
}

.--quote form input:not([type="checkbox"]),
.--quote form select {
    height: 38px !important;
    padding: 5px 20px !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    border-radius: 30px !important;
    background-image: none !important;
    background-position: 15px center !important;
    border: 2px solid #d9d9d9 !important;
    box-shadow: none !important;
}

.--quote form input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
}

.--quote form textarea {
    padding: 5px 20px !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    border-radius: 10px !important;
    background-image: none !important;
    background-position: 15px center !important;
    border: 2px solid #d9d9d9 !important;
    box-shadow: none !important;
}

.--quote form input.devistap_input_ville {
    padding: 5px 40px !important;
    background-image: url(/public/assets/front/img/pin.png) !important;
}

.--quote form input:focus {
    border: 2px solid #212529 !important;
}

.--quote #vud_mb_js_box .vud_reinitialise .vud_devis_bouton_bleu {
    background: #212529 !important;
    border-radius: 30px !important;
    color: #ffffff !important;
    padding: 8px 30px !important;
    font-weight: 400 !important;
    min-width: 200px !important;
    margin-bottom: 5px !important;
    border: 0 !important;
}

.--quote #vud_mb_js_box .vud_reinitialise .vud_devis_bouton_bleu:hover {
    opacity: 0.8 !important;
}

.--quote #devistap_gps_bouton {
    margin-bottom: 0.5rem;
}

.--quote #vud_mb_js_box .vud_reinitialise a.devistap_bouton {
    border-radius: 30px !important;
    padding: 5px 40px !important;
}

.--quote #vud_mb_js_box .vud_reinitialise .vud_wait_box {
    filter: grayscale(100%);
    background-size: 100px !important;
}

.--quote .vud_devis_index_famille {
    cursor: pointer !important;
    border-radius: 3px !important;
    overflow: hidden !important;
}

.--quote .vud_devis_index_famille h3 {
    cursor: pointer !important;
}

.--quote .devistap_formulaire_box {
    padding: 20px !important;
}

.--quote #vud_devis_formulaire {
    padding: 20px 0 !important;
    background: #f6f6f6 !important;
}

.--quote .devistap_step h2 {
    color: var(--quote-color-secondary) !important;
    font-size: 22px !important;
    margin: 0 !important;
}

.--quote .devistap_choix {
    height: 80px !important;
}

.--quote .devistap_choix:hover {
    border: 3px solid var(--quote-color-secondary) !important;
    background: #f4f2ec !important;
}

.--quote .devistap_choix .devistap_choix_texte {
    font-size: 20px !important;
}

.--quote form table {
    margin: 0 !important;
    width: 100% !important;
}

.--quote form table tr td {
    width: 100% !important;
    display: block !important;
    text-align: left !important;
    padding: 0 !important;
}

.--quote form table tr td input,
.--quote form table tr td select,
.--quote form table tr td textarea {
    width: 100% !important;
    display: block !important;
    margin-bottom: 20px !important;
}

.--quote form table tr td strong {
    margin-bottom: 5px !important;
    display: block !important;
}

.--quote .devistap_step .devistap_textarea {
    border: 2px solid #ccc !important;
    padding: 10px !important;
}

.--quote .devistap_rectangle_gris a {
    min-width: 140px !important;
}

.--quote hr {
    border-bottom: 0 !important;
    border-top: 1px solid #bebebe;
}

.--quote form .petitefont {
    color: #999999 !important;
}

.--quote form .petitefont br {
    display: none !important;
}

.--quote #vud_devis_listener {
    z-index: 10000 !important;
}

.--quote .vud_devis_liste {
    z-index: 100000 !important;
}