{% block end %}

	{% block script %}

        {% block vendor %}
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/simplebar@6.3.0/dist/simplebar.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/js/coreui.bundle.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/jquery-confirm@3.3.4/dist/jquery-confirm.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/tinymce@7.6.0/tinymce.min.js"></script>
			<script src="https://cdn.jsdelivr.net/gh/Jakiboy/Vanille@0.0.3/dist/VanillePlugin.min.js"></script>
			{{doAction('js')}}
		{% endblock %}

		{% block inline %}
			{{doAction('login-inline-js')}}
		{% endblock %}

		{% block config %}
			<script type="text/javascript">
				var globalVars = {
					baseUrl: '{{baseUrl}}',
					assetUrl: '{{getAssetUrl()}}',
					logoutUrl: '/admin/logout/h/',
					lang: "{{getLanguage()}}",
					token: "{{getToken()}}",
					debug: "{{isDebug()}}",
					timeout: {{getTimeout()}},
					strings: {{toJson(strings)|raw}}
				};
				{{doAction('config-js')}}
			</script>
		{% endblock %}

		{% block main %}
			<script src="{{getAssetUrl()}}/admin/js/main.js" defer></script>
			{{doAction('main-js')}}
		{% endblock %}

	{% endblock %}

	{% block close %}
		</body>
		</html>
  	{% endblock %}

{% endblock %}