{% block end %}

	{% block script %}

        {% block vendor %}
			{% if isDebug() %}
				<script src="{{getAssetUrl()}}/vendor/jquery/jquery.min.js"></script>
				<script src="{{getAssetUrl()}}/vendor/vanille/VanillePlugin.min.js"></script>
            {% else %}
				<script src="{{getAssetUrl()}}/vendor/all.min.js"></script>
            {% endif %}
			<script src="{{getAssetUrl()}}/admin/vendor/simplebar/js/simplebar.min.js"></script>
			<script src="{{getAssetUrl()}}/admin/vendor/@coreui/coreui/js/coreui.bundle.min.js"></script>
			<script src="{{getAssetUrl()}}/admin/vendor/confirm/jquery-confirm.min.js"></script>
			{{doAction('js')}}
		{% endblock %}

		{% block inline %}
			{{doAction('login-inline-js')}}
		{% endblock %}

		{% block config %}
			<script type="text/javascript">
				var globalVars = {
					baseUrl: '{{baseUrl}}',
					assetUrl: '{{getAssetUrl()}}',
					logoutUrl: '/admin/logout/h/',
					lang: "{{getLanguage()}}",
					token: "{{getToken()}}",
					debug: "{{isDebug()}}",
					timeout: {{getTimeout()}},
					strings: {{toJson(strings)|raw}}
				};
				{{doAction('config-js')}}
			</script>
		{% endblock %}

		{% block main %}
			{% if isDebug() %}
				<script src="{{getAssetUrl()}}/admin/js/main.js" defer></script>
			{% else %}
				<script src="{{getAssetUrl()}}/admin/js/main.min.js" defer></script>
			{% endif %}
			{{doAction('main-js')}}
		{% endblock %}

	{% endblock %}

	{% block close %}
		</body>
		</html>
  	{% endblock %}

{% endblock %}