{% block footer %}
	<footer class="footer px-4">

		{% block left %}
			<div class="copyright">
				<span>FloatPHP Skeleton | </span>
				<a href="/api/v2/" target="_blank">API</a>
			</div>
		{% endblock %}

		{% block right %}
			<div class="footer-right ms-auto">
				{% if isDebug() %}
					<span class="badge --debug-badge rounded-pill bg-dark">
						<i class="typcn typcn-info"></i>
						Debug {% if execution %}{{execution}}s{% endif %}
					</span>
				{% endif %}
				Version:
				<a href="https://github.com/floatphp/Skeleton" target="_blank">1.5.0</a>
			</div>
		{% endblock %}

	</footer>

	{{ doAction('after-footer') }}
	
{% endblock %}
