{% block header %}
	<header class="header header-sticky p-0 mb-4">
		<div class="container-fluid border-bottom px-4">

			<button class="header-toggler" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()" style="margin-inline-start: -14px;">
				<i class="bi bi-list icon icon-lg"></i>
			</button>

			<ul class="header-nav ms-right">
				<li class="nav-item">
					<a class="nav-link" href="/" target="_blank">
						<i class="bi bi-play icon icon-lg"></i>
						{{translate('Home')}}
					</a>
				</li>
			</ul>

			<ul class="header-nav">

				<li class="nav-item dropdown">

					<a class="nav-link py-0 pe-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<div class="avatar avatar-md">
							<img class="avatar-img" src="{{getAssetUrl()}}/admin/img/avatar.png" alt="user@email.com">
						</div>
					</a>

					<div class="dropdown-menu dropdown-menu-end pt-0">

						<div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold my-2">
							<div class="fw-semibold">{{user.name|default('Admin')}}</div>
						</div>

						<div class="dropdown-divider"></div>

						<a href="#" class="dropdown-item logout">
						<i class="bi bi-escape icon"></i>
							{{translate('Sign Out')}}
						</a>

					</div>

				</li>

			</ul>

		</div>

	</header>
{% endblock %}
